doctype html
html
  head
    title= system
    script(src='js/jquery-1.11.3.js')
    script(src='js/bootstrap.js')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-theme.css')
    block head
  body
    block body
