<div id="main">
	<input type="radio" name="tabs" class="tabs" id="tab-outline" title="Outline" checked="checked"/>
	<span class="tabs">Outline</span>
	<input type="radio" name="tabs" class="tabs" id="tab-main" title="Main" />
	<span class="tabs">Main</span>
	<input type="radio" name="tabs" class="tabs" id="tab-class" title="Class" />
	<span class="tabs">Class</span>
	<input type="radio" name="tabs" class="tabs" id="tab-defense" title="Defence" />
	<span class="tabs">Defence</span>
	<input type="radio" name="tabs" class="tabs" id="tab-attack" title="Attack" />
	<span class="tabs">Attack</span>
	<input type="radio" name="tabs" class="tabs" id="tab-skills" title="Skills" />
	<span class="tabs">Skills</span>
	<input type="radio" name="tabs" class="tabs" id="tab-feats" title="Feats" />
	<span class="tabs">Feats</span>
	<input type="radio" name="tabs" class="tabs" id="tab-gear" title="Gear" />
	<span class="tabs">Gear</span>
	<input type="radio" name="tabs" class="tabs" id="tab-spells" title="spells" />
	<span class="tabs">Spells</span>
	<input type="radio" name="tabs" class="tabs" id="tab-history" title="History" />
	<span class="tabs">History</span>
	<div class="title" id="top-title"></div>
	<div id="section-outline" class="section">
		1
	</div>
	<div id="section-main" class="section">
		2
	</div>
	<div id="section-class" class="section">
		3
	</div>
	<div id="section-defense" class="section">
		4
	</div>
	<div id="section-attack" class="section">
		5
	</div>
	<div id="section-skills" class="section">
		6
	</div>
	<div id="section-feats" class="section">
		7
	</div>
	<div id="section-gear" class="section">
		8
	</div>
	<div id="section-spells" class="section">
		9
	</div>
	<div id="section-history" class="section">
		0
	</div>
</div>